html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
h1, h2 {
  font-family: Courier;
  text-align: center;
}
ul, ol {
  font-size: 20px;
}

h1, h2, h3, ul, li {
	background-color: #6d6875;
	color: white;
}

a:link {
  color: #ece4db;
}

a:visited {
  color: #fae1dd;
}

a:hover {
  color: #ffd7ba;
}

.noun, .adj, .verb {
	color: #fec89a;
}

.hovered {
	color: #6d6875;
	background-color: white;
	font-family: Courier;
}





